body {
  background-image: url("images/background_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/*=====HEADER BRAND=====*/
#headeroverride {
  padding-left: 2%;
  color:#e6e6e6;
  font-family: 'Spirax', cursive;
  font-size: 2.5em;
  padding-bottom: 0;
  display: inline-block;
  max-height: 57px;
}

.topnav {
    background-color: #6D5234;
    overflow: visible;
    opacity: .8;
    width: 100%;
    height: 57px;
    /* padding-bottom: 2px; */
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px ;
    text-decoration: none;
    font-size: 25px;
    background-color: #6D5234;
    }

.topnav a:not(.hnav):hover {
    background-color: #ddd;
    color: black;
}

.content.current {
  padding-top: 110px;
}

.topnav a.active{
    background-color: #aa8808;
    color: white;
}


.topnav .icon {
    display: none;
}


@media screen and (max-width: 860px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 860px) {
  .topnav.responsive {position: relative;}
  span.hnav .navbar-brand{

  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*=====FOR SMALL MOBILE=====*/
@media screen and (max-width: 375px){
  .topnav>a.hnav.navbar-brand{
    font-size:2em !important;
    max-width: 200px;
    padding-right: 0;
    margin-right: 0;
  }
}


.sticky {
  position: fixed;
  top: 150;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}
/*====CONTENT BACKGROUND====*/
.content {
  align-content: center;
  width: 60%;
  margin: auto;
  padding: 16px;
}
.content:nth-child(even){
  background-color: rgba(109, 82, 52, 0.5);
}

.content:nth-child(odd){
  background-color: rgba(110, 110, 53, 0.5);
}

p.box {
  padding-top: 100px;
}

/*====FOOTER====*/

footer {
  width: 100%;
  background-color: #6D5234;
  padding-left: 5%;
}
