/* DIVIDER */

/* NAVBAR */
.navbar{
  background-color:#cc5200;
  position: fixed;
  width:100%;
}

?.nav-link:link, .nav-link:visited{
  color:#e6e6e6;
  background-color:#cc5200;



  font-weight: bolder;
  font-size:1.5em;
  border: solid 1px #000000;
}

.navbutton a:hover, .navbutton a:active{
  background-color: #ffb380;
}

#header{
  font-family: "Spirax", cursive;
  color:#e6e6e6;
  font-size: 2em;
  padding:0;
}

@media screen and (max-width:600px){
  .navbar{display:block;width:100%;}
  .navbar .navbutton {float:none;text-align: center;}
  .navbutton a:link, .navbutton a:visited{
    color:#e6e6e6;
   display: block;
    text-decoration: none;
    text-align: center;
    font-weight:normal ;
    border:0;
    font-size:1em;
    padding:0;
  }
  #header{
    font-family: "Spirax", cursive;
    color:#e6e6e6;
    font-size: 1.5em;
    padding:0;
  }
}
/* NAVBAR */

/* BODY STYLE */
* {
  box-sizing:border-box;
}

  #contcon{

      margin-left:5%;
      margin-right: 5%;
      padding-top:110px;
  }

  .content:nth-child(odd) {
      background-color: #8c8c8c;

    }

  .content:nth-child(even) {
      background-color: #bfbfbf;
    }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  [class*="col-"] {
    float:left;
    padding:15px;
  }

  .row::after {
    content:"";
    clear: both;
    display: table;
  }
  /* add class="jumptarget" to all targets. */

.jumptarget::before {
  content:"";
  display:block;
  height:110px; /* fixed header height*/
  margin-bottom:0; /* negative fixed header height */
}


  @media screen and (max-width:600px){
    #contcon{padding-top:190px}
    .jumptarget::before {
      content:"";
      display:block;
      height:190px; /* fixed header height*/
      margin:0px; /* negative fixed header height */
    }
  }
/* BODY STYLE */
